
.footer-container{
    background-color: navy;
    color: #d20909;

}  
/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-footer-269 {
        /* 60px - 100px top and bottom */
        padding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
        background-color: #1a1a1a;
        /* Navigation Links */
        /* Contact Links */
    }
    #cs-footer-269 .cs-container {
        width: 100%;
        /* reset on tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        /* 68px - 100px */
        column-gap: clamp(4.25rem, calc(10%), 6.25rem);
    }
    #cs-footer-269 .cs-logo-group {
        /* takes up all the space, lets the other ul's wrap below it */
        width: 100%;
        position: relative;
    }
    #cs-footer-269 .cs-logo {
        /* 210px - 240px */
        width: clamp(13.125rem, 8vw, 15rem);
        height: auto;
        display: block;
        /* 28px - 44px */
        margin-bottom: clamp(1.75rem, 4.17vw, 2.75rem);
    }
    #cs-footer-269 .cs-logo-img {
        width: 100%;
        height: auto;
    }
    #cs-footer-269 .cs-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 2.5vw, 1rem);
        line-height: 1.5em;
        margin: 0;
        margin-bottom: 2rem;
        /* changes to 305px at desktop */
        max-width: 33.75rem;
        color: var(--bodyTextColorWhite);
    }
    #cs-footer-269 .cs-nav {
        padding: 0;
        margin: 0;
    }
    #cs-footer-269 .cs-nav-li {
        list-style: none;
        line-height: 1.5em;
        margin-bottom: 0.5rem;
    }
    #cs-footer-269 .cs-nav-li:last-of-type {
        margin-bottom: 0;
    }
    #cs-footer-269 .cs-header {
        font-size: 1rem;
        line-height: 1.5em;
        font-weight: 700;
        margin-bottom: 0.875rem;
        color: var(--bodyTextColorWhite);
        position: relative;
        display: block;
    }
    #cs-footer-269 .cs-nav-link {
        font-size: 1rem;
        text-decoration: none;
        line-height: 1.5em;
        color: var(--bodyTextColorWhite);
        position: relative;
    }
    #cs-footer-269 .cs-nav-link:before {
        /* underline */
        content: "";
        width: 0%;
        height: 0.125rem;
        /* current color of the parent */
        background: currentColor;
        opacity: 1;
        position: absolute;
        display: block;
        bottom: -0.125rem;
        left: 0;
        transition: width 0.3s;
    }
    #cs-footer-269 .cs-nav-link:hover:before {
        width: 100%;
    }
    #cs-footer-269 .cs-contact {
        margin: 0;
        padding: 0;
        width: auto;
        display: flex;
        flex-direction: column;
        align-self: stretch;
    }
    #cs-footer-269 .cs-contact-li {
        list-style: none;
        margin-bottom: 0rem;
    }
    #cs-footer-269 .cs-contact-li:last-of-type {
        margin-bottom: 0;
    }
    #cs-footer-269 .cs-contact-link {
        font-size: 1rem;
        text-decoration: none;
        line-height: 1.5em;
        text-align: left;
        color: var(--bodyTextColorWhite);
        display: inline-block;
    }
    #cs-footer-269 .cs-contact-link:hover {
        text-decoration: underline;
    }
    #cs-footer-269 .cs-address {
        font-size: 1rem;
        margin-bottom: 1.25rem;
    }
    #cs-footer-269 .cs-social-group {
        /* pushes away from the other flex items */
        margin-top: auto;
        margin-left: auto;
    }
    #cs-footer-269 .cs-social {
        display: inline-flex;
        justify-content: flex-start;
        gap: 0.75rem;
    }
    #cs-footer-269 .cs-social-link {
        width: 1.5rem;
        height: 1.5rem;
        background-color: #4e4b66;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        transition:
            transform 0.3s,
            background-color 0.3s;
    }
    #cs-footer-269 .cs-social-link:hover {
        background-color: var(--primary);
        transform: translateY(-0.1875rem);
    }
    #cs-footer-269 .cs-social-img {
        height: 0.8125rem;
        width: auto;
        display: block;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-footer-269 .cs-container {
        max-width: 80rem;
        row-gap: 0;
    }
    #cs-footer-269 .cs-logo-group {
        width: auto;
        /* pushes everything to the right of it as far as possible in a flexbox */
        margin-right: auto;
    }
    #cs-footer-269 .cs-text {
        width: 80%;
        max-width: 19.0625rem;
        margin: 0;
    }
    #cs-footer-269 .cs-nav,
    #cs-footer-269 .cs-contact {
        /* 8px - 12px */
        margin-top: clamp(0.5rem, 1.2vw, 0.75rem);
    }
}

/*-- -------------------------- -->
<---          About          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #about {
      width: 100%;
      padding: var(--sectionPadding);
      background-color: #f0e9e9;
      display: flex;
      flex-direction: column;
      /* aligns content to the left, set to center to centrally align */
      align-items: flex-start;
      position: relative;
      z-index: 1;
    }
    #about .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: 36.5rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* 48px - 80px */
      gap: clamp(3rem, 6vw, 5rem);
    }
    #about .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: 35.625rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
      position: relative;
      z-index: 3;
    }
    #about .cs-image-group {
      font-size: min(2.29vw, 0.9rem);
      width: 39.375em;
      height: 45.625em;
      display: block;
      position: relative;
      z-index: 1;
    }
    #about .cs-picture {
      width: 32.625em;
      height: 42.5em;
      box-sizing: border-box;
      background-color: #dab692;
      overflow: hidden;
      border: 8px solid #dab692;
      border-radius: 16.25rem;
      position: absolute;
      right: 0;
      z-index: -1;
    }
    #about .cs-picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 0.7s;
    }
    #about .cs-graphic {
      height: auto;
      position: absolute;
    }
    #about .cs-brown {
      width: 15.125em;
      height: auto;
      top: 1.625em;
      left: 0.8125em;
      z-index: -2;
    }
    #about .cs-peach {
      width: 3.625em;
      height: auto;
      top: 0.375em;
      left: 6.8125em;
    }
    #about .cs-beige {
      width: 22em;
      height: auto;
      top: 4.4375em;
      left: 1em;
      z-index: -3;
    }
    #about .cs-leaf {
      width: 14.0625em;
      height: auto;
      bottom: 0;
      right: 1em;
      z-index: 1;
    }
    #about .cs-lines {
      width: 11em;
      height: auto;
      bottom: 0;
      right: 0;
    }
    #about .cs-info {
      width: 50%;
      max-width: 19.0625rem;
      padding: 6.25em 2.5em;
      background-color: var(--primary);
      border-radius: 14rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      bottom: 0;
    }
    #about .cs-info-text {
      /* 14px - 20px */
      font-size: clamp(0.875rem, 3.5vw, 1.25rem);
      font-weight: 600;
      line-height: 1.6em;
      text-align: center;
      max-width: 13.9375em;
      margin: 0;
      color: var(--bodyTextColorWhite);
    }
    #about .cs-bold {
      /* 16px - 24x */
      font-size: clamp(1rem, 3.5vw, 1.5rem);
      font-weight: 600;
      line-height: 1.2em;
      margin: 0 0 0.25rem;
      color: var(--headerColor);
      display: block;
    }
    #about .cs-text-large {
      font-size: 1.25rem;
      line-height: 1.5em;
      margin: 0 0 0.75rem;
      color: var(--headerColor);
    }
    #about .cs-text {
      margin-bottom: 0.75rem;
    }
    #about .cs-text:last-of-type {
      margin-bottom: 2rem;
    }
    #about .cs-button-solid {
      font-size: 1rem;
      font-weight: 700;
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-align: center;
      text-decoration: none;
      min-width: 9.375rem;
      margin: 0;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      padding: 0 1.5rem;
      background-color: var(--secondary);
      overflow: hidden;
      color: #fff;
      border: none;
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      transition: color 0.3s;
    }
    #about .cs-button-solid:before {
      content: "";
      width: 0;
      height: 100%;
      background: #000;
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }
    #about .cs-button-solid:hover {
      color: #fff;
    }
    #about .cs-button-solid:hover:before {
      width: 100%;
    }
  }
  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #about .cs-container {
      max-width: 80rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
    #about .cs-content {
      /* 48px - 64px */
      padding: clamp(3rem, 5vw, 4rem) 0;
    }
    #about .cs-image-group {
      font-size: min(1.27vw, 1rem);
      min-height: 45.625em;
      height: auto;
      flex: none;
      /* sends it to the right in the 2nd position */
      order: 2;
    }
    #about .cs-picture {
      height: 93.150685%;
    }
  }
                                  
/*.cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
}

.cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
}

.cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);}*/

    /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #vision,
    #mission{
        padding: var(--sectionPadding);
    }
#vision .cs-container,
#mission .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
    }
    #vision .cs-content,
    #mission .cs-content{
        text-align: left;
        width: auto;
        max-width: 40.625rem;
        margin: 0 1rem;
        margin-top: -18.75rem;
        /* 40px - 60px top and bottom */
        /* 20px - 60px left and right */
        padding: clamp(2.5rem, 7vw, 3.75rem) clamp(1.25rem, 5.5vw, 3.75rem);
        background-color: #fafbfc;
        /* prevents padding from affecting width and height */
        box-sizing: border-box;
        border-radius: 0.75rem;
        /* clips the pseudo element */
        overflow: hidden;
        box-shadow: 0px 24px 54px rgba(87, 107, 147, 0.12);
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
        position: relative;
        z-index: 10;
    }
    #vision .cs-content:before,
    #mission .cs-content:before{
        /* green border top */
        content: "";
        width: 100%;
        height: 0.5rem;
        background: var(--primary);
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
    }

    #vision .cs-text,
    #mission .cs-text{
        margin-bottom: 1rem;
    }
    #vision .cs-text:last-of-type,
    #mission .cs-text:last-of-type{
        margin-bottom: 2rem;
    }
    #vision .cs-button-solid,
    #mission .cs-button-solid{
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #vision .cs-button-solid:before,
    #mission .cs-button-solid:before{
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #vision .cs-button-solid:hover:before,
    #mission .cs-button-solid:hover:before{
        width: 100%;
    }
    #vision .cs-picture,
    #mission .cs-picture{
        width: 100%;
        height: auto;
        height: 27.6875rem;
        /* clips the img corners */
        overflow: hidden;
        border-radius: 1.5rem;
        display: block;
        /* sends it to the top */
        order: -1;
        position: relative;
    }
    #vision .cs-picture img,
    #mission .cs-picture img{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #vision .cs-container,
    #mission .cs-container{
        padding: 3.75rem 0;
        position: relative;
        align-items: flex-end;
        justify-content: center;
    }
    #vision .cs-content,
    #mission .cs-content{
        width: 65%;
        margin: 0;
    }
    #vision .cs-picture,
    #mission .cs-picture{
        /* 465px - 617px */
        width: clamp(29.0625rem, 53vw, 38.5625rem);
        position: absolute;
        left: 0;
        height: 100%;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #vision .cs-content,
    #mission .cs-content{
        /* 90px - 108px */
        margin-right: clamp(5rem, 8.5vw, 6.75rem);
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #mission {
        background-color: #f0e9e9;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #mission .cs-container {
        align-items: flex-start;
    }
    #mission .cs-picture {
        left: auto;
        right: 0;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #mission .cs-content {
        margin-right: 0;
        /* 90px - 108px */
        margin-left: clamp(5rem, 8.5vw, 6.75rem);
    }
}

.business-card { width: 600px; border: 1px solid #000; padding: 20px; font-family: Arial, sans-serif; } 
.header { background-color: #003366; color: #fff; padding: 10px; text-align: center; } 
.contact-info { margin-top: 20px; } 
.contact-info p { margin: 5px 0; }                                                           
                                